.buttons-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.station_container { 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    padding-top: 120px; /* щоб було трохи відступу від верху */ 
    min-height: 100vh; 
    background-color: #f5f7fa; /* світлий фон */ 
}

/* Базові стилі для всіх кнопок */
.station_container button {
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.1s;
}

.station_container > div {
     background-color: #fff; 
     padding: 30px 40px; 
     border-radius: 12px; 
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
     width: 100%; 
     max-width: 600px; 
    }

/* Активна кнопка (синя) */
.active-btn {
  background-color: #0066cc;
  color: #fff;
}

.active-btn:hover {
  background-color: #004c99;
  transform: scale(1.03);
}

/* Неактивна кнопка (сіра, без ефектів) */
.disabled-btn {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  transform: none;
  transition: none;
}

/* Кольори статусів */
.status-free {
  color: #0c9e4d;
  font-weight: 600;
}

.status-busy {
  color: #cc3300;
  font-weight: 600;
}

.status-charging {
  color: #e6b800; /* жовтий */
  font-weight: 600;
}

.charging-info {
  text-align: center;
  font-size: 15px;
  color: #e6b800;
  margin-top: 10px;
  font-weight: 500;
}

